body {
    font-family: 'century gothic';
    color: white;
    text-align: center;
    font-size: 28px;
}

select, option {
    width: 220px;
    height: 50px;
    font-size: large;
    font-family: 'century gothic';
    color:#ffb7a4;

}

button {
    color:#ffb7a4;
    font-size: 20px;
    font-family: 'century gothic';
    width: 150px;
    height: 70px;
}

table {
    text-align: left;
}

h2 {
    line-height: 0.5;
}
